body {
  max-width: 1000px;
  margin:0 auto;
  background-color: #efefef;
}
.kissacontainer {
  margin-top: 1em;
}

.modal {
  width: auto;
  text-align: center;
}

.modal-body {
    position: relative;
    overflow-y: auto;
}
.btn-group {
  position: relative;
  right: 0;
  float:right;
}
.modal-body img {
  position: relative;
  width: 100%;
  padding: 0px;
  margin:0px;
}
.modal-body p {
  margin-top: 10px;
  text-align: left;
  padding: 0px;
}
.modal-dialog {
  width: auto;
  margin: 30px auto;
  display: inline-block;
}
.card-body {
  margin:0;
  padding-top: 5px;
  padding-bottom: 0;
}
.card-text {
  float:left;
}
.card-date{
  font-size: 10px;
  float: right;
}
.loading {
  position: absolute;
  z-index: 2;

  width:20%;
}

#map {
   z-index: 1;
    position:absolute;
    right:16px;
    top:16px;
    width: 200px;
    height: 100px;
    background-color: grey;
}
